name: command_line
on:
  push:
    branches: ['*']
jobs:
  tests:
    strategy:
      matrix:
        python: [3.11]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{matrix.python}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python}}

      - name: Install cowsay
        run: pip3 install .

      - name: Run tests
        run: |
          cowsay 'moo'
      